@import url(https://fonts.googleapis.com/css?family=Pacifico);
.dateEntry select, .dateEntry button, .titleText, .container, .recordHolder {
  margin: auto;
  text-align: center;
}

.dateEntry select, .dateEntry button {
  font-size: 14px;
  font-size: 0.875rem;
  background-color: white;
  border: 2px solid #94a2f4;
  outline: 0;
  padding: 1px;
  height: 30px;
  border-radius: 5px;
  margin: 0;
}

.dateEntry button {
  width: 40px;
  margin-left: -4px;
}
@media (max-width: 321px -1px) {
  .dateEntry button {
    margin-top: 6px;
  }
}
@media (min-width: 321px) and (max-width: 441px) {
  .dateEntry button {
    margin-top: 18px;
  }
}

.titleText {
  font: 100% Pacifico, cursive;
  font-size: 40px;
  font-size: 2.5rem;
  padding-top: 50px;
  width: 400px;
  color: white;
}
@media (min-width: 321px) and (max-width: 441px) {
  .titleText {
    font-size: 30px;
    font-size: 1.875rem;
    width: 65%;
    padding-top: 50px;
  }
}
@media (min-width: 442px) and (max-width: 499px) {
  .titleText {
    font-size: 28px;
    font-size: 1.75rem;
    width: 80%;
    padding-top: 40px;
  }
}
@media (min-width: 500px) and (max-width: 599px) {
  .titleText {
    font-size: 40px;
    font-size: 2.5rem;
    width: 80%;
  }
}

.container {
  background-image: url("../images/vinyl.png");
  background-image: none, url("../images/vinyl.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 600px;
  width: 600px;
}
@media (max-width: 321px -1px) {
  .container {
    margin-left: -45%;
  }
}
@media (min-width: 321px) and (max-width: 441px) {
  .container {
    margin-left: -25%;
  }
}
@media (min-width: 442px) and (max-width: 499px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 500px) and (max-width: 599px) {
  .container {
    width: 100%;
  }
}

.recordHolder {
  background-color: transparent;
  padding-top: 40px;
  width: 400px;
}
@media (max-width: 321px -1px) {
  .recordHolder {
    width: 48%;
  }
}
@media (min-width: 321px) and (max-width: 441px) {
  .recordHolder {
    padding-top: 60px;
    width: 60%;
    margin: auto;
  }
}
@media (min-width: 442px) and (max-width: 499px) {
  .recordHolder {
    padding-top: 12px;
  }
}
@media (min-width: 500px) and (max-width: 599px) {
  .recordHolder {
    width: 85%;
    margin: auto;
    padding-top: 15px;
  }
}

.videowrapper {
  position: relative;
  padding-bottom: 56.45%;
  height: 0;
  margin-top: 100px;
  margin-bottom: 10px;
}

.videowrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (min-width: 321px) and (max-width: 441px) {
  .videowrapper iframe {
    width: 65%;
    height: 65%;
    margin-left: 19%;
  }
}

.recordResult {
  font: 100% Futura, sans-serif;
  color: white;
  font-size: 34px;
  font-size: 2.125rem;
}
@media (min-width: 321px) and (max-width: 441px) {
  .recordResult {
    font-size: 28px;
    font-size: 1.75rem;
  }
}
@media (min-width: 442px) and (max-width: 499px) {
  .recordResult {
    font-size: 24px;
    font-size: 1.5rem;
  }
}
@media (min-width: 500px) and (max-width: 599px) {
  .recordResult {
    font-size: 28px;
    font-size: 1.75rem;
  }
}

.div-date {
  margin-top: 45px;
  margin-left: 4px;
}
@media (min-width: 321px) and (max-width: 441px) {
  .div-date {
    margin-top: 66px;
  }
}
@media (min-width: 442px) and (max-width: 499px) {
  .div-date {
    margin-top: 10px;
  }
}
@media (min-width: 500px) and (max-width: 599px) {
  .div-date {
    margin-top: 25px;
  }
}

@-ms-viewport {
  width: device-width;
}
body {
  background-color: #94f4e6;
  margin: 0;
}
@media (max-width: 321px -1px) {
  body {
    margin: 0;
  }
}
@media (min-width: 321px) and (max-width: 441px) {
  body {
    width: 441px;
    margin: 0;
  }
}

@media (max-width: 321px -1px) {
  .wrapper {
    max-width: 320px;
    overflow-x: hidden;
  }
}
@media (min-width: 321px) and (max-width: 441px) {
  .wrapper {
    max-width: 441px;
    overflow-x: hidden;
  }
}

/*.githubImage {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;

  @include iphone {
    visibility: hidden;
  }
  @include small {
    visibility: hidden;
  }
  @include smed {
    visibility: hidden;
  }
}*/

/*# sourceMappingURL=main.css.map */
