@import url(https://fonts.googleapis.com/css?family=Pacifico);
.dateEntry select, .dateEntry button, .titleText, .recordHolder, .container {
  margin: auto;
  text-align: center;
}

.dateEntry select, .dateEntry button {
  font-size: 14px;
  font-size: 0.875rem;
  background-color: white;
  border: 2px solid #94a2f4;
  outline: 0;
  padding: 1px;
  height: 30px;
  border-radius: 5px;
  margin: 0;
}

@media (max-width: 320px) {
  .wrapper {
    max-width: 320px;
    overflow-x: hidden;
  }
}
@media (min-width: 321px) and (max-width: 441px) {
  .wrapper {
    max-width: 441px;
    overflow-x: hidden;
  }
}

.dateEntry button {
  width: 40px;
  margin-left: -4px;
}
@media (max-width: 320px) {
  .dateEntry button {
    margin-top: 6px;
  }
}
@media (min-width: 321px) and (max-width: 441px) {
  .dateEntry button {
    margin-top: 18px;
  }
}

.div-date {
  margin-top: 60px;
  margin-left: 4px;
}
@media (max-width: 320px) {
  .div-date {
    margin-top: 70px;
  }
}
@media (min-width: 321px) and (max-width: 441px) {
  .div-date {
    margin-top: 66px;
  }
}
@media (min-width: 442px) and (max-width: 514px) {
  .div-date {
    margin-top: 10px;
  }
}
@media (min-width: 515px) and (max-width: 599px) {
  .div-date {
    margin-top: 40px;
  }
}

.titleText {
  font: 100% Pacifico, cursive;
  font-size: 40px;
  font-size: 2.5rem;
  padding-top: 50px;
  width: 400px;
  color: white;
}
@media (max-width: 320px) {
  .titleText {
    font-size: 30px;
    font-size: 1.875rem;
    width: 55%;
    margin-bottom: 80px;
  }
}
@media (min-width: 321px) and (max-width: 441px) {
  .titleText {
    font-size: 30px;
    font-size: 1.875rem;
    width: 65%;
    padding-top: 50px;
    margin-bottom: 80px;
  }
}
@media (min-width: 442px) and (max-width: 514px) {
  .titleText {
    font-size: 28px;
    font-size: 1.75rem;
    width: 80%;
    padding-top: 40px;
    margin-bottom: 60px;
  }
}
@media (min-width: 515px) and (max-width: 599px) {
  .titleText {
    font-size: 40px;
    font-size: 2.5rem;
    width: 80%;
  }
}

.recordHolder {
  background-color: transparent;
  padding-top: 40px;
  width: 400px;
}
@media (max-width: 320px) {
  .recordHolder {
    width: 48%;
  }
}
@media (min-width: 321px) and (max-width: 441px) {
  .recordHolder {
    padding-top: 60px;
    width: 60%;
    margin: auto;
  }
}
@media (min-width: 442px) and (max-width: 514px) {
  .recordHolder {
    padding-top: 12px;
  }
}
@media (min-width: 515px) and (max-width: 599px) {
  .recordHolder {
    width: 85%;
    margin: auto;
    padding-top: 35px;
  }
}

.recordResult {
  font: 100% Futura, "Trebuchet MS", Arial, sans-serif;
  color: white;
  font-size: 36px;
  font-size: 2.25rem;
}
@media (min-width: 321px) and (max-width: 441px) {
  .recordResult {
    font-size: 28px;
    font-size: 1.75rem;
  }
}
@media (min-width: 442px) and (max-width: 514px) {
  .recordResult {
    font-size: 28px;
    font-size: 1.75rem;
    margin-top: 60px;
  }
}
@media (min-width: 515px) and (max-width: 599px) {
  .recordResult {
    font-size: 32px;
    font-size: 2rem;
  }
}

.videowrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  margin-top: 100px;
  /*margin-bottom: 10px;*/
}

.videowrapper iframe, .videowrapper object, .videowrapper embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (min-width: 321px) and (max-width: 441px) {
  .videowrapper iframe, .videowrapper object, .videowrapper embed {
    width: 60%;
    height: 60%;
    margin-left: 20%;
  }
}

@-ms-viewport {
  width: device-width;
}
body {
  background-color: #94f4e6;
}
@media (max-width: 320px) {
  body {
    margin: 0;
    width: 320px;
  }
}
@media (min-width: 321px) and (max-width: 441px) {
  body {
    width: 441px;
    margin: 0;
  }
}

.container {
  background-image: url("../images/vinyl.png");
  background-image: none, url("../images/vinyl.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 600px;
  width: 600px;
}
@media (max-width: 320px) {
  .container {
    background-image: url("../images/vinyl-mobile.png");
    background-image: none, url("../images/vinyl-mobile.svg");
  }
}
@media (min-width: 321px) and (max-width: 441px) {
  .container {
    background-image: url("../images/vinyl-mobile.png");
    background-image: none, url("../images/vinyl-mobile.svg");
  }
}
@media (min-width: 442px) and (max-width: 514px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 515px) and (max-width: 599px) {
  .container {
    width: 100%;
  }
}

.githubImage {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}
@media (max-width: 320px) {
  .githubImage {
    visibility: hidden;
  }
}
@media (min-width: 321px) and (max-width: 441px) {
  .githubImage {
    visibility: hidden;
  }
}
@media (min-width: 442px) and (max-width: 514px) {
  .githubImage {
    visibility: hidden;
  }
}

/*# sourceMappingURL=main.css.map */
