@import url(https://fonts.googleapis.com/css?family=Pacifico);
.dateEntry select, .dateEntry button, #number-oneapp .textHolder, #titleText, .recordHolder, .container {
  margin: auto;
  text-align: center;
}

.dateEntry select, .dateEntry button {
  font-size: 14px;
  font-size: 0.875rem;
  background-color: white;
  border: 2px solid #94a2f4;
  outline: 0;
  padding: 1px;
  height: 30px;
  border-radius: 5px;
  margin: 0;
}

@media (max-width: 320px) {
  .wrapper {
    max-width: 320px;
    overflow-x: hidden;
  }
}
@media (min-width: 321px) and (max-width: 441px) {
  .wrapper {
    max-width: 441px;
    overflow-x: hidden;
  }
}

.dateEntry button {
  width: 40px;
  margin-left: -4px;
}
@media (max-width: 320px) {
  .dateEntry button {
    margin-top: 6px;
  }
}
@media (min-width: 321px) and (max-width: 441px) {
  .dateEntry button {
    margin-top: 18px;
  }
}

.div-date {
  position: relative;
}

#number-oneapp .textHolder {
  font: 100% Pacifico, cursive;
  display: block;
  height: 150px;
  width: 500px;
  padding-top: 9%;
}
@media (max-width: 320px) {
  #number-oneapp .textHolder {
    width: 400px;
  }
}
@media (min-width: 321px) and (max-width: 441px) {
  #number-oneapp .textHolder {
    width: 300px;
    height: 150px;
  }
}
@media (min-width: 442px) and (max-width: 514px) {
  #number-oneapp .textHolder {
    height: 140px;
    width: 260px;
    padding-top: 5%;
  }
}
@media (min-width: 515px) and (max-width: 599px) {
  #number-oneapp .textHolder {
    height: 150px;
    width: 380px;
    padding-top: 7%;
  }
}

#titleText {
  font: 100% Pacifico, cursive;
  color: white;
}

.recordHolder {
  background-color: transparent;
  padding-top: 13%;
  width: 400px;
}
@media (max-width: 320px) {
  .recordHolder {
    width: 100%;
  }
}
@media (min-width: 321px) and (max-width: 441px) {
  .recordHolder {
    padding-top: 13%;
    width: 100%;
    margin: auto;
  }
}
@media (min-width: 442px) and (max-width: 514px) {
  .recordHolder {
    padding-top: 1%;
  }
}
@media (min-width: 515px) and (max-width: 599px) {
  .recordHolder {
    width: 85%;
    margin: auto;
    padding-top: 3%;
  }
}

.recordResult {
  font: 100% Futura, "Trebuchet MS", Arial, sans-serif;
  color: white;
  font-size: 36px;
  font-size: 2.25rem;
}
@media (min-width: 321px) and (max-width: 441px) {
  .recordResult {
    font-size: 36px;
    font-size: 2.25rem;
  }
}
@media (min-width: 442px) and (max-width: 514px) {
  .recordResult {
    font-size: 36px;
    font-size: 2.25rem;
  }
}
@media (min-width: 515px) and (max-width: 599px) {
  .recordResult {
    font-size: 38px;
    font-size: 2.375rem;
  }
}

.videowrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  margin-top: 100px;
  /*margin-bottom: 10px;*/
}

.videowrapper iframe, .videowrapper object, .videowrapper embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (min-width: 321px) and (max-width: 441px) {
  .videowrapper iframe, .videowrapper object, .videowrapper embed {
    width: 100%;
    height: 100%;
  }
}

@-ms-viewport {
  width: device-width;
}
body {
  background-color: #94f4e6;
}
@media (max-width: 320px) {
  body {
    margin: 0;
    width: 320px;
  }
}
@media (min-width: 321px) and (max-width: 441px) {
  body {
    width: 441px;
    margin: 0;
  }
}

.container {
  background-image: url("../images/vinyl.png");
  background-image: none, url("../images/vinyl.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 600px;
  width: 600px;
}
@media (max-width: 320px) {
  .container {
    background-image: url("../images/vinyl-mobile.png");
    background-image: none, url("../images/vinyl-mobile.svg");
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 321px) and (max-width: 441px) {
  .container {
    background-image: url("../images/vinyl-mobile.png");
    background-image: none, url("../images/vinyl-mobile.svg");
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 442px) and (max-width: 514px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 515px) and (max-width: 599px) {
  .container {
    width: 100%;
  }
}

.githubImage {
  background-image: url("../images/find_me.png");
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  display: block;
  height: 149px;
  width: 149px;
}
@media (max-width: 320px) {
  .githubImage {
    visibility: hidden;
  }
}
@media (min-width: 321px) and (max-width: 441px) {
  .githubImage {
    visibility: hidden;
  }
}
@media (min-width: 442px) and (max-width: 514px) {
  .githubImage {
    visibility: hidden;
  }
}

/*# sourceMappingURL=main.css.map */
