@import url(https://fonts.googleapis.com/css?family=Pacifico);

$headline: Pacifico, cursive;
$font-stack:    Futura, sans-serif;
$font-color: #94a2f4;
$background-color: #94f4e6;

$small-width: 442px;
$smed-width: 500px;
$med-width: 600px;

@mixin small {
  @media (max-width: #{$small-width - 1px}) {
    @content;
  }
}

@mixin smed {
  @media (min-width: #{$small-width}) and (max-width: #{$smed-width - 1px}) {
    @content;
  }
}

@mixin medium {
  @media (min-width: #{$smed-width}) and (max-width: #{$med-width - 1px}) {
    @content;
  }
}

@mixin normal {
  @media (min-width: #{$med-width}) {
    @content;
  }
}

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

%center {
  margin: auto;
  text-align: center;
}

%inputs {
  @extend %center;
  @include font-size(14px);
  background-color: white;
  border: 2px solid #94a2f4;
  outline: 0;
  padding: 1px; 
  height: 30px; 
  border-radius: 5px;
  margin: 0em;
}

h1 {
  @include small {
    @include font-size(30px);
    width: 65%;
    padding-top: 50px;
  }

  @include smed {
    @include font-size(28px);
    width: 80%;
    padding-top: 40px;
  }

  @include medium {
    @include font-size(40px);
    width: 80%;
  }

  @extend %center;
  font: 100% $headline;
  @include font-size(40px);
  padding-top: 50px;
  width: 400px;
  color: white;
}

#number-oneapp {
  @extend %center;
	background-image: url('../images/vinyl.png');
  background-image: url('../images/vinyl.svg'),
    linear-gradient(transparent, transparent);
  background-repeat: no-repeat;
  background-size: contain;
	height: 600px;
	width: 600px;

  @include small {
    //width: 150%;
    margin-left: -25%;
  }

  @include smed {
    width: 100%;
  }

  @include medium {
    width: 100%;
  }
}

#record {
  @extend %center;
  background-color: transparent;
  padding-top: 60px;
  width: 400px;

  @include small {
    padding-top: 60px;
    width: 60%;
    margin: auto
  }

  @include smed {
    padding-top: 12px;
  }

  @include medium {
    width: 85%;
    margin: auto;
    padding-top: 15px;
  }
}

h2 { 
  font: 100% $font-stack;
  color: white;
  @include font-size(34px);

  @include small {
    @include font-size(28px);
  }

  @include smed {
    @include font-size(24px);
  }

  @include medium {
    @include font-size(28px);
  }
}

select {
  @extend %inputs;
  outline: 0;
}

#div-date {

  @include small {
    margin-top: 66px;
  }
  @include smed {
    margin-top:10px;
  }
  @include medium {
    margin-top: 25px;
  }
  margin-top: 45px;
}

button{
  @extend %inputs;
  @include font-size(14px);
  width: 40px;
}

@-ms-viewport{
    width: device-width;
}

@media (max-width:320px) {
  #record{
    width:48%;
  }
  #number-oneapp {
    margin-left:-45%;
  }
  #wrapper {
    max-width:320px;
    overflow-x:hidden;
  }
  body {
    margin:0px;
  }
}

@media (min-width:340px) and (max-width:441px){
  #wrapper {
    max-width:441px;
    overflow-x:hidden;
  }
  body {
    margin:0px;
  }
}
body {
  background-color: $background-color;
  @include small {
    width: 441px;
    margin: 0px;
  }
}

#wrapper {
  @include small {
    max-width:441px;
    overflow-x:hidden;
  }
}