@import url(https://fonts.googleapis.com/css?family=Pacifico);

$headline: Pacifico, cursive;
$font-stack: Futura, sans-serif;
$font-color: #94a2f4;
$background-color: #94f4e6;

$iphone-width: 321px;
$small-width: 442px;
$smed-width: 500px;
$med-width: 600px;

@mixin iphone {
  @media (max-width: #{$iphone-width -1px}) {
    @content;
  }
}

@mixin small {
  @media (min-width: #{$iphone-width}) and (max-width: #{$small-width - 1px}) {
    @content;
  }
}

@mixin smed {
  @media (min-width: #{$small-width}) and (max-width: #{$smed-width - 1px}) {
    @content;
  }
}

@mixin medium {
  @media (min-width: #{$smed-width}) and (max-width: #{$med-width - 1px}) {
    @content;
  }
}

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

@mixin svg-fallback($name) {
  background-image: url('../images/#{$name}.png');
  background-image: none, url('../images/#{$name}.svg');
}

%center {
  margin: auto;
  text-align: center;
}

%inputs {
  @extend %center;
  @include font-size(14px);
  background-color: white;
  border: 2px solid #94a2f4;
  outline: 0;
  padding: 1px; 
  height: 30px; 
  border-radius: 5px;
  margin: 0;
}

.dateEntry {
  select {
    @extend %inputs;
  }

  button {
    @extend %inputs;
    width: 40px;
    margin-left: -4px;

    @include iphone {
      margin-top: 6px;
    }
    @include small {
      margin-top: 18px;
    }
  }
}

.titleText {
  @extend %center;
  font: 100% $headline;
  @include font-size(40px);
  padding-top: 50px;
  width: 400px;
  color: white;

  @include small {
    @include font-size(30px);
    width: 65%;
    padding-top: 50px;
  }

  @include smed {
    @include font-size(28px);
    width: 80%;
    padding-top: 40px;
  }

  @include medium {
    @include font-size(40px);
    width: 80%;
  }
}

.container {
  @extend %center;
  @include svg-fallback('vinyl');
  background-repeat: no-repeat;
  background-size: contain;
  height: 600px;
  width: 600px;
  @include iphone {
    margin-left:-45%;
  }

  @include small {
    margin-left: -25%;
  }

  @include smed {
    width: 100%;
  }

  @include medium {
    width: 100%;
  }
}

.recordHolder {
  @extend %center;
  background-color: transparent;
  padding-top: 40px;
  width: 400px;

  @include iphone {
    width:48%;
  }

  @include small {
    padding-top: 60px;
    width: 60%;
    margin: auto
  }

  @include smed {
    padding-top: 12px;
  }

  @include medium {
    width: 85%;
    margin: auto;
    padding-top: 15px;
  }
}

.videowrapper {
  position: relative;
  padding-bottom: 56.45%;
  height:  0;
  margin-top: 100px;
  margin-bottom: 10px;
}

.videowrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  @include small {
    width: 65%;
    height: 65%;
    margin-left: 19%;
  }
}

.recordResult { 
  font: 100% $font-stack;
  color: white;

  @include font-size(34px);

  @include small {
    @include font-size(28px);
  }

  @include smed {
    @include font-size(24px);
  }

  @include medium {
    @include font-size(28px);
  }
}

.div-date {
  margin-top: 45px;
  margin-left: 4px;

  @include small {
    margin-top: 66px;
  }
  @include smed {
    margin-top:10px;
  }
  @include medium {
    margin-top: 25px;
  }
}

@-ms-viewport{
    width: device-width;
}

body {
  background-color: $background-color;
  margin: 0;
  
  @include iphone {
    margin: 0;
  }

  @include small {
    width: 441px;
    margin: 0;
  }
}

.wrapper {
  @include iphone {
    max-width: 320px;
    overflow-x: hidden;
  }
  @include small {
    max-width: 441px;
    overflow-x: hidden;
  }
}

.githubImage {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;

  @include iphone {
    visibility: hidden;
  }
  @include small {
    visibility: hidden;
  }
  @include smed {
    visibility: hidden;
  }
}