@import url(https://fonts.googleapis.com/css?family=Pacifico);

$headline: Pacifico, cursive;
$font-stack: Futura, 'Trebuchet MS', Arial, sans-serif;
$font-color: #94a2f4;
$background-color: #94f4e6;

$iphone-width: 321px;
$small-width: 442px;
$smed-width: 515px;
$med-width: 600px;

@mixin iphone {
  @media (max-width: #{$iphone-width - 1px}) {
    @content;
  }
}

@mixin small {
  @media (min-width: #{$iphone-width}) and (max-width: #{$small-width - 1px}) {
    @content;
  }
}

@mixin smed {
  @media (min-width: #{$small-width}) and (max-width: #{$smed-width - 1px}) {
    @content;
  }
}

@mixin medium {
  @media (min-width: #{$smed-width}) and (max-width: #{$med-width - 1px}) {
    @content;
  }
}

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

@mixin svg-fallback($name) {
  background-image: url('../images/#{$name}.png');
  background-image: none, url('../images/#{$name}.svg');
}

%center {
  margin: auto;
  text-align: center;
}

%inputs {
  @extend %center;
  @include font-size(14px);
  background-color: white;
  border: 2px solid #94a2f4;
  outline: 0;
  padding: 1px; 
  height: 30px; 
  border-radius: 5px;
  margin: 0;
}

.wrapper {
  @include iphone {
    max-width: 320px;
    overflow-x: hidden;
  }
  @include small {
    max-width: 441px;
    overflow-x: hidden;
  }
}

.dateEntry {
  select {
    @extend %inputs;
  }

  button {
    @extend %inputs;
    width: 40px;
    margin-left: -4px;

    @include iphone {
      margin-top: 6px;
    }
    @include small {
      margin-top: 18px;
    }
  }
}

.div-date {

  position: relative;

}

#number-oneapp .textHolder {
  @extend %center;
  font: 100% $headline;
  display: block;
  height: 150px;
  width: 500px;
  padding-top: 9%;

  @include iphone {
    width: 400px;
  }
  @include small {
    width: 300px;
    height: 150px;
  }

  @include smed {
    height: 140px;
    width: 260px;
    padding-top: 5%;
  }

  @include medium {
    height: 150px;
    width: 380px;
    padding-top: 7%;
  }
}

#titleText {
  @extend %center;
  font: 100% $headline;
  //@include font-size(40px);
  color: white;
}

// change titleHolder to a generic class and use for both cases. make sure specificity is ok
.recordHolder {
  @extend %center;
  background-color: transparent;
  padding-top: 13%;
  width: 400px;

  @include iphone {
    width: 100%;
  }

  @include small {
    padding-top: 13%;
    width: 100%;
    margin: auto
  }

  @include smed {
    padding-top: 1%;
  }

  @include medium {
    width: 85%;
    margin: auto;
    padding-top: 3%;
  }
}

.recordResult { 
  font: 100% $font-stack;
  color: white;

  @include font-size(36px);

  @include small {
    @include font-size(36px);
  }

  @include smed {
    @include font-size(36px);
  }

  @include medium {
    @include font-size(38px);
  }
}

.videowrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height:  0;
  margin-top: 100px;
  /*margin-bottom: 10px;*/
}

.videowrapper iframe, .videowrapper object, .videowrapper embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  @include small {
    width: 100%;
    height: 100%;
  }
}

@-ms-viewport{
    width: device-width;
}

body {
  background-color: $background-color;
  
  @include iphone {
    margin: 0;
    width: 320px;
  }

  @include small {
    width: 441px;
    margin: 0;
  }
}

.container {
  @extend %center;
  @include svg-fallback('vinyl');
  background-repeat: no-repeat;
  background-size: contain;
  height: 600px;
  width: 600px;
  @include iphone {
    @include svg-fallback('vinyl-mobile');
    width: 100%;
    height: 100%
  }

  @include small {
    @include svg-fallback('vinyl-mobile');
    width: 100%;
    height: 100%
  }

  @include smed {
    width: 100%;
  }

  @include medium {
    width: 100%;
  }
}

.githubImage {
  background-image: url('../images/#{find_me}.png');
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  display: block;
  height: 149px;
  width: 149px;

  @include iphone {
    visibility: hidden;
  }
  @include small {
    visibility: hidden;
  }
  @include smed {
    visibility: hidden;
  }
}
